<p id="notice"><%= notice %></p>

<br/>
<br/>
<div class="container">
  <table class="table table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
      </tr>
    </thead>

    <tbody>
      <% @comments.each do |comment| %>
        <tr scope="row">
          <td><%= comment.body %></td>
          <td><%= comment.created_at.strftime("%F")%></td>
          <td><%= link_to "Show", article_comment_path(@article, comment.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br/>
  <div class="d-flex justify-content-end">
    <%= link_to "Add Comment", new_article_comment_path(@article), class:"btn btn-outline-secondary m-1" %>
    <%= link_to "Return", article_path(@article), class:"btn btn-outline-secondary m-1" %>
  </div>
</div>