%br/
%br/
%div.d-flex.justify-content-center.align-items-center.w-100.h-100
  %p{:style => "color: green"}= notice
  %div.card{:style => "width: 30rem"}
    %div.card-body
      = render @article
      %div
        = link_to "Edit this article", edit_article_path(@article)
        |
        \#{link_to "Back to articles", articles_path}
        
        \#{button_to "Destroy this article", @article, method: :delete}
